
# css file of the image grid

# all the designing is done here

body{
	padding-top: 70px;	//Top padded to 7 pixel
}

.jumbotron {			// bootstrap jumbotron box
	color: #2c3e50;
	background: #ecf0f1;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;			// Nav color to white
}

.navbar-inverse .navbar-brand {
	color: white;
}
